@CHARSET "UTF-8";
@IMPORT "main.css";

/*joinform*/

.form-horizontal .form-group{
	margin-top:5px;
	margin-bottom: 30px;
}
/*상*/
#back1{
    background: #fff;
    width: 100%;
    height: 200px;
    padding: 42px 0px;
    margin-bottom: 35px;
    border-top: 1px solid #ececec;
}
#title1 {
    padding-top: 10px;
    font-size: 35px;
    color: #222;
    font-weight: bold;
    letter-spacing: -1px;
}
#title1_p {
    margin: 25px 0 70px;
    font-size: 16px;
    color: #666;
    line-height: 24px;
}
#emphasis{
	color: #d04001 !important;
}


/* 중 */
/* 
#tlt2_p0 {
    font-size: 30px;
    color: #222;
    font-weight: bold;
    margin-top: 50px !important;
}
#signup {
    position: relative;
    margin: 0 auto;
    width: 960px;
    padding: 0;
    height: 1050px;
}
#brdwrap2 {
    position: relative;
    margin: 0 auto;
    width: 960px;
    padding: 50px 0 0 0;
}
#tit {
    margin-bottom: 30px;
    height: 30px;
    font-size: 18px;
    font-weight: bold;
    background: url("/upa/assets/images/user/icon_signup.png") 0 -274px no-repeat;
}
.tbl_wtype1 {
    border-top: 1px solid #666;
    color: #222;
    font-size: 13px;
    width:960px;
}
.tbl_wtype1 th {
    width: 160px;
    padding: 17px 0 16px 20px;
    line-height: 16px;
    background: #fff7ed;
    border-bottom: 1px solid #dfdfdf;
    text-align: left;
    vertical-align: top;
}
.tbl_wtype1 td {
    padding: 7px 10px;
    height: 30px;
    color: #444;
    border-left: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
}
#tit2 {
    padding-left: 20px;
    border-left: 1px solid #dfdfdf;
    text-align: left;
}
.tblwrap .reqd_box {
    position: absolute;
    top: -200px;
    right: 0;
    font-size: 13px;
    color: #444;
}
.reqd {
	float: left;
    padding-right: 10px;
    color: #d04001;
}
.tbl_wtype1 input{
	width: 170px;
    padding: 5px 10px;
}  */
/*하 */
#passCheck{
   	color: red;
    position: absolute;
}
#btn-checkEmail{
	background: #f2931b;
    color: white;
    margin: 0px 5px;	
}
.scl_box {
    overflow-x: hidden;
    overflow-y: scroll;
    display: block;
    width: 1000px;
    height: 200px;
    padding: 25px 20px 30px;
    background: #f5f5f5;
    border: 1px solid #dfdfdf;
    font-size: 13px;
    color: #666;
    line-height: 22px;
    margin: 0px 0px 15px 59px;
}
.agree_tbox{
	margin: 5px 15px;
}
.scl_box table {
    width: 819px;
    margin-bottom: 10px;
    background: #fff;
}
.scl_box table th {
    padding: 4px 0 3px 0;
    border-bottom: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
    font-weight: normal;
    background-color: #ccc;
    TEXT-ALIGN: CENTER;
}
.scl_box table td {
    padding: 10px 15px 10px 15px;
    border-bottom: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
}
#agreeF{
	margin: 30px 0 0 10px;
	border: solid 0px white;
}
